<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/default.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand text-white">SalesWeb</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Dashboards" asp-action="Index">Dashboards</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropId" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropId">
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Departamentos</a>
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Sellers" asp-action="Index">Vendedores</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Movimentações\Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-asp-area="" asp-controller="SalesRecords" asp-action="Index">Relatórios</a>
                    </li>
                </ul>
                <span class="navbar-text text-white">
                    Revisão 1.0
                </span>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/default.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>