@model sales_web_mvc.Models.Department

@{
    ViewData["Title"] = "Delete";
}

<br />
<div class="alert alert-danger" role="alert">
  Deseja excluir o departamento @Html.DisplayFor(model => model.Name)?
</div>
<h3>Informações</h3>
<hr />
<div>
    <dl>
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}